@import '../../style/var.less';
.tool {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  &>div {
    padding: 4px;
    box-sizing: border-box;
    display: inline-block;
    user-select: none;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    &:hover {
      background-color: @ACTIVE_COLOR;
      border-radius: 4px;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.tool-bold {
  background-image: url('../../source/img/tool-bold.png');
}

.tool-color {
  background-image: url('../../source/img/tool-color.png');
}

.tool-italic {
  background-image: url('../../source/img/tool-italic.png');
}

.tool-underline {
  background-image: url('../../source/img/tool-underline.png');
}

.tool-strikethrough {
  background-image: url('../../source/img/tool-strikethrough.png')
}

.tool-background-color {
  background-image: url('../../source/img/tool-bkg.png')
}

.tool-left {
  background-image: url('../../source/img/tool-left.png')
}

.tool-right {
  background-image: url('../../source/img/tool-right.png')
}

.tool-center {
  background-image: url('../../source/img/tool-center.png')
}

.tool-ul {
  background-image: url('../../source/img/tool-ul.png')
}

.tool-ol {
  background-image: url('../../source/img/tool-ol.png')
}