<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rich-text</title> 
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
    *{
      margin: 0;
      padding: 0
    }
    </style>  
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>